fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

langchain
langgraph
langchain-google-genai

chromadb
sentence-transformers
transformers
torch

google-generativeai

motor
pymongo

SQLAlchemy
psycopg2-binary
