fastapi
uvicorn[standard]
python-dotenv
python-multipart

pydantic
pydantic-settings

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langgraph

google-generativeai

pymongo

gTTS
duckduckgo-search

python-docx
pypdf

requests
tavily-python
